<h1><%= @cupcake.name %></h1>

<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @cupcake.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @cupcake.description %>
</p>
<p>
  <strong>Calorie_count:</strong>
  <%= @cupcake.calorie_count %>
</p>
<p>
  <strong>Price:</strong>
  <%= @cupcake.price %>
</p>

  <%= link_to 'Back', cupcakes_path %>

