<h1> New Order: </h1>

  <%= form_for @order do |f| %>
    <%= f.label :date %>
    <%= f.text_field :date %>
    <%= f.collection_select :order_id, Order.all, :id, :name %>
    <%= f.submit %>
 <% end %>
