<!DOCTYPE html>
<html>
  <head>
    <title>Bakeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Flatiron Cupcake Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <%=link_to "HOME", welcome_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%=link_to "VIEW CUPCAKES", cupcakes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%=link_to "ORDER", new_cupcake_order_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%=link_to "LOCATION", location_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%=link_to "CONTACT US", contact_us_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <% if logged_in? %>
    <%= link_to "LOGOUT", sessions_path, method: :delete, class: "nav-link" %>
    <% else %>
    <%= link_to "LOGIN", login_path, class: "nav-link" %>
    <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="container main">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-primary flash #{key}" %>
    <% end %>
      <%= yield %>
      <div class="push"></div>
    </div>
    <footer>
        <p class="text-center"><3 cupcakes by Erica</p>
    </footer>
  </body>



</html>