<!DOCTYPE html>
<html>
  <head>
    <title>Bakeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  
  <body>
  
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  
    <ul>
    <li><%=link_to "HOME", welcome_path %></li>
    <li><%=link_to "VIEW CUPCAKES", cupcakes_path %></li>
    <li><%=link_to "ORDER", new_cupcake_order_path %></li>
    <li><%=link_to "LOCATION", location_path %></li>
    <li><%=link_to "CONTACT US", contact_us_path %></li>    
    </ul>
    <br>
    <hr>
    <div class="container">
    <%= yield %>
    </div>
    <footer id="sticky-footer" class="py-3 text-white-50" style="background-color: grey">
    <div class="container text-center">
      <small> <3 cupcakes</small>
    </div>
  </footer>
  </body>
</html>
